.qodef-header-navigation > ul > li > a {
    color: white;
}

#qodef-page-header {
    background: rgba(0,0,0, 0.2);
    position: fixed;
    left: 0;
    display: flex!important;
    width: 100%;
    z-index: 99999;
}

.qodef-header-navigation {
    display: flex;
    align-items: center;
    // margin-right: 25%;
}

#qodef-page-header-inner {
    width: 100%;
}

#qodef-page-header .qodef-widget-holder {
    float: right;
    z-index: 9999;
    // display: none;
}

.qodef-header-logo-link {
    color: white;
    font-size: 27px;
    font-style: italic;
    font-family: 'Garamond', serif;
}

@media screen and (max-width: 1024px) {
    nav {
        width: 100%;
        // position: relative;
    }
    .qodef-header-navigation.active > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        background: rgba(0,0,0, 0.2);
        top: 105px;
        height: auto;
        width: 100vw;
        left: 0;
        padding-bottom: 30px;
    }

    .qodef-header-navigation > ul {
        // display: none;
        width: 0;
        top: -100px;
        transition: 300ms ease all;
    }



    .qodef-header-navigation > ul > li {
        height: 50px;
    }

    #qodef-page-header .qodef-widget-holder {
        display: flex;
    }
}